:root {
  --very-light-pink: #c7c7c7;
  --white: #ffffff;
  --background-input-field: #f7f7f7;
  --text-input-field: #797979;
  --black: #000000;
  --hospital-green: #acd9b2;
  --dark: #232830;
  --sm: 1.4rem;
  --md: 1.6rem;
  --lg: 1.8rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Quicksand", sans-serif;
}

nav .icon-menu {
  cursor: pointer;
}

nav .nav-left-secction .list-categories {
  display: none;
}

nav .nav-right-secction .nav-account-card {
  list-style: none;
}

.item-account-navbar {
  display: none;
}

nav {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  border-bottom: 1px solid var(--very-light-pink);
}

nav .item-email {
  padding-right: 8px;
}

/* styles menu  */

.menu-secction {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  top: 75px;
  right: 0;
  left: 16px;
}

.container-close {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.menu-secction .container-close .icon-close {
  cursor: pointer;
}

.menu-secction .container-close .icon-close {
  font-size: var(--lg);
  font-weight: bold;
  color: var(--very-light-pink);
}

.menu-left,
.menu-account {
  list-style: none;
  font-size: var(--md);
  font-weight: bold;
  line-height: var(--lg);
  color: var(--black);
}

.menu-secction .container-categories .menu-left {
  margin-bottom: 24px;
  border-bottom: 1px solid var(--very-light-pink);
}

.item-menu,
.item-account {
  margin-bottom: 32px;
}

.container-account {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.menu-secction .container-access-login {
  height: 100%;
  display: flex;
  align-items: flex-end;
  display: none;
}

.menu-secction .container-account .container-signout {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.menu-secction .container-account .container-signout p {
  padding-bottom: 4px;
  font-size: var(--sm);
  font-weight: 300;
  line-height: var(--lg);
}

.login,
.signout {
  text-decoration: none;
  font-size: var(--md);
  font-weight: bold;
  line-height: var(--lg);
  color: var(--hospital-green);
}

/*
.show {
  display: block;
}

.hidden {
  display: none;
}*/

.item-email {
  display: none;
}

.display {
  display: none;
}
