:root {
  --very-light-pink: #c7c7c7;
  --white: #ffffff;
  --background-input-field: #f7f7f7;
  --text-input-field: #797979;
  --black: #000000;
  --hospital-green: #acd9b2;
  --dark: #232830;
  --sm: 1.4rem;
  --md: 1.6rem;
  --lg: 1.8rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Quicksand", sans-serif;
}

nav .icon-menu {
  cursor: pointer;
}

nav .nav-left-secction .list-categories {
  display: none;
}

nav .nav-right-secction .nav-account-card {
  list-style: none;
}

.item-cart {
  cursor: pointer;
}

.item-account-navbar {
  display: none;
}

nav {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  border-bottom: 1px solid var(--very-light-pink);
}

nav .item-email {
  padding-right: 8px;
}

.item-email {
  display: none;
}

/* styles menu  */

.menu-secction {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  top: 67px;
  left: 0;
  padding: 16px;
  background-color: var(--white);
}

.menu-desktop {
  display: none;
}

.container-close {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.menu-secction .container-close .icon-close {
  cursor: pointer;
}

.menu-secction .container-close .icon-close {
  font-size: var(--lg);
  font-weight: bold;
  color: var(--very-light-pink);
}

.menu-left,
.menu-account {
  list-style: none;
  font-size: var(--md);
  font-weight: bold;
  line-height: var(--lg);
  color: var(--black);
}

.menu-secction .container-categories .menu-left {
  margin-bottom: 24px;
  border-bottom: 1px solid var(--very-light-pink);
}

.item-menu,
.item-account {
  margin-bottom: 32px;
}

.container-account {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.menu-secction .container-access-login {
  height: 100%;
  display: flex;
  align-items: flex-end;
  display: none;
}

.menu-secction .container-account .container-signout {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.menu-secction .container-account .container-signout p {
  padding-bottom: 4px;
  font-size: var(--sm);
  font-weight: 300;
  line-height: var(--lg);
}

.login,
.signout {
  text-decoration: none;
  font-size: var(--md);
  font-weight: bold;
  line-height: var(--lg);
  color: var(--hospital-green);
}

/* styles-shopping-cart */

.aside-shopping-cart {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  background-color: var(--white);
}

.cards-shopping,
.card-detail-product {
  width: 100%;
  max-width: 450px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.cards-shopping {
  align-items: center;
}

.product {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 24px;
}

aside .cards-shopping .product .info-product {
  display: flex;
  align-items: center;
}

aside .cards-shopping .product .info-product .image-product {
  width: 76px;
  height: 76px;
  margin-right: 16px;
}

aside .cards-shopping .product .info-product p {
  font-size: var(--sm);
  font-weight: 400;
  line-height: var(--lg);
  color: var(--text-input-field);
}

aside .cards-shopping .product .product-price {
  display: flex;
  align-items: center;
}

aside .cards-shopping .product .product-price p:nth-child(1) {
  font-size: var(--md);
  font-weight: bold;
  line-height: var(--lg);
  color: var(--black);
  padding-right: 16px;
}

aside .cards-shopping .product .product-price p:nth-child(2) {
  font-size: var(--sm);
  color: var(--very-light-pink);
}

.total {
  width: 90%;
  height: 76px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-self: center;
  background-color: var(--background-input-field);
}

aside .cards-shopping .total p {
  font-size: var(--md);
  font-weight: bold;
  line-height: var(--lg);
}

aside .cards-shopping .container-btn {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}

aside .cards-shopping .container-btn button {
  width: 100%;
  height: 60px;
  border: none;
  border-radius: 8px;
  font-size: var(--lg);
  font-weight: bold;
  line-height: 2.2rem;
  color: var(--white);
  background-color: var(--hospital-green);
}

aside .cards-shopping .title {
  display: none;
}

/* styles-detail-product */

.aside-detail-product {
  width: 100%;
  height: auto;
  position: absolute;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  background-color: var(--white);
}

.aside-detail-product
  .card-detail-product
  .container-img
  .container-icon-close
  .icon-close {
  width: 40px;
  height: 40px;
  display: block;
  position: absolute;
  right: 350px;
  padding: 8px;
  cursor: pointer;
  border-radius: 50%;
  background-color: var(--white);
}

.aside-detail-product .card-detail-product .container-img .image-product {
  border-radius: 1px;
  width: 100%;
  align-self: center;
}

.aside-detail-product .card-detail-product .container-img .list-buttons {
  display: flex;
  justify-content: center;
}

.aside-detail-product
  .card-detail-product
  .container-img
  .list-buttons
  .item-button {
  padding-right: 10px;
  color: var(--very-light-pink);
}

.aside-detail-product .card-detail-product .info-product {
  padding-left: 16px;
  padding-right: 16px;
}

.aside-detail-product .card-detail-product .info-product .price {
  margin-bottom: 4px;
  font-size: var(--lg);
  font-weight: bold;
  line-height: 2.1rem;
  color: var(--black);
}

.aside-detail-product .card-detail-product .info-product .name-product {
  margin-bottom: 20px;
  font-size: var(--lg);
  font-weight: 400;
  line-height: 2.2rem;
  color: var(--text-input-field);
}

.aside-detail-product .card-detail-product .info-product .description-product {
  font-size: var(--md);
  font-weight: 400;
  line-height: 2rem;
  color: var(--text-input-field);
  text-align: justify;
}

.aside-detail-product .card-detail-product .container-btn {
  padding-left: 16px;
  padding-right: 16px;
}

.aside-detail-product .card-detail-product .container-btn .btn-to-cart {
  width: 100%;
  height: 59px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--lg);
  font-weight: bold;
  line-height: 2.2rem;
  border: none;
  border-radius: 8px;
  background-color: var(--hospital-green);
  color: var(--white);
}

.aside-detail-product .card-detail-product .container-btn .btn-to-cart img {
  padding-right: 8px;
}

/*styles-home-page*/

.section-home {
  margin-top: 12px;
}

.section-home .search-secction {
  width: 100%;
  display: flex;
  justify-content: center;
}

.section-home .search-secction .input {
  width: 300px;
  height: 44px;
  padding: 12px;
  border: none;
  border-radius: 8px;
  color: var(--very-light-pink);
  background-color: var(--background-input-field);
}

.section-home .buttons-secction {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.section-home .buttons-secction .button {
  margin-right: 8px;
  padding: 8px;
  border: none;
  text-align: center;
  color: var(--very-light-pink);
  background-color: var(--white);
}

.section-home .buttons-secction .button:hover {
  border: 1px solid var(--hospital-green);
  border-radius: 8px;
  color: var(--hospital-green);
  cursor: pointer;
}

.section-home .buttons-secction .button:focus {
  border: 1px solid var(--hospital-green);
  border-radius: 8px;
  color: var(--hospital-green);
  cursor: pointer;
}

.section-home .order-secction {
  display: flex;
  justify-content: center;
  margin-top: 18px;
}

.section-home .order-secction p:nth-child(1) {
  margin-right: 8px;
  font-size: var(--sm);
  font-weight: bold;
  line-height: var(--lg);
  color: var(--black);
}

.section-home .order-secction p:nth-child(2) {
  font-size: var(--sm);
  font-weight: 400;
  line-height: var(--lg);
  color: var(--text-input-field);
}

.section-home .card-secction {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-home .card-secction .cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.section-home .card-secction .container-card {
  width: 170px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  margin-right: 8px;
}

.section-home .card-secction .cards .container-card img {
  width: 160px;
  height: 160px;
  cursor: pointer;
}

.section-home .card-secction .cards .container-card .product-card {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 8px;
}

.section-home .card-secction .cards .container-card .product-card p {
  font-size: var(--sm);
  line-height: var(--lg);
}

.section-home
  .card-secction
  .cards
  .container-card
  .product-card
  p:nth-child(1) {
  font-weight: bold;
  color: var(--dark);
}

.section-home
  .card-secction
  .cards
  .container-card
  .product-card
  p:nth-child(2) {
  font-weight: 400;
  color: var(--text-input-field);
}

.section-home .card-secction .cards .container-card .product-card img {
  width: 40px;
  height: 40px;
}

.hidden {
  display: none;
}

/* mediaq de productos */

@media (max-width: 320px) {
  .section-home .card-secction .container-card {
    width: 135px;
    height: 250px;
  }

  .section-home .card-secction .cards .container-card img {
    width: 130px;
    height: 160px;
  }
}

/* mediaq de shopping */
@media (max-width: 360px) {
  aside .carts-secction .product {
    margin-bottom: 0;
  }
}

@media (min-width: 450px) {
  aside .carts-secction .product {
    width: 380px;
  }

  aside .carts-secction .total {
    width: 380px;
  }

  aside .carts-secction .container-btn {
    width: 380px;
  }

  /*mediaq detail-product */

  .aside-detail-product .card-detail-product {
    justify-content: start;
    align-items: center;
  }

  .aside-detail-product .card-detail-product .container-img .image-product {
    width: 375px;
    height: 372px;
  }

  .aside-detail-product .card-detail-product .info-product {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .aside-detail-product .card-detail-product .info-product,
  .container-btn {
    width: 375px;
  }
}
