:root {
    --very-light-pink: #C7C7C7;
    --white: #FFFFFF;
    --background-input-field: #F7F7F7;
    --text-input-field: #797979;
    --black: #000000;
    --hospital-green: #ACD9B2;
    --dark: #232830;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 

html {
    font-size: 62,5%;
    font-family: 'Quicksand', sans-serif;
}

header {
    position: relative;
    top: 113px;
    display: flex;
    justify-content: center;
}

.container-logo {
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-self: center;
}

.container-logo img {
    width: 100%;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    top: 150px;
}

.main-form {
    width: 339px;
    height: 257px;
    display: flex;
    flex-direction: column;
}

.main-form label {
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.75rem;
    color: var(--black);
}

.main-form input {
    width: 339px;
    height: 42px;
    margin: 4px 0 20px 0;
    padding: 12px;
    border: none;
    border-radius: 10px;
    color: var(--text-input-field);
    background-color: var(--background-input-field);
}

.main-form input::placeholder {
    color: var(--text-input-field);
}

.main-form input[type="submit"] {
    height: 59px;
    font-size: 1.8rem;
    line-height: 2.25rem;
    font-weight: bold;
    color: var(--white);
    background-color: var(--hospital-green);
}

.main-form a {
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    color: var(--hospital-green);
}

footer {
    display: flex;
    justify-content: center;
    position: relative;
    top: 450px;
}

footer input {
    width: 339px;
    height: 59px;
    font-size: 1.8rem;
    line-height: 2.25rem;
    font-weight: bold;
    color: var(--hospital-green);
    border: 1px solid var(--hospital-green);
    background-color: var(--white);
}