:root {
  --very-light-pink: #c7c7c7;
  --white: #ffffff;
  --background-input-field: #f7f7f7;
  --text-input-field: #797979;
  --black: #000000;
  --hospital-green: #acd9b2;
  --dark: #232830;
  --sm: 1.4rem;
  --md: 1.6rem;
  --lg: 1.8rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Quicksand", sans-serif;
}

nav .nav-left-secction .list-categories {
  display: none;
}

nav .nav-right-secction .nav-account-card {
  list-style: none;
}

.item-account {
  display: none;
}

.item-email {
  display: none;
}

nav {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  border-bottom: 1px solid var(--very-light-pink);
}
