:root {
    --very-light-pink: #C7C7C7;
    --white: #FFFFFF;
    --background-input-field: #F7F7F7;
    --text-input-field: #797979;
    --black: #000000;
    --hospital-green: #ACD9B2;
    --dark: #232830;
    --sm: 1.4rem;
    --md: 1.6rem;
    --lg: 1.8rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'sQuicksand', sans-serif;
}

aside .carts-secction {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

aside .carts-secction .product {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 24px;
}

aside .carts-secction .product .info-product{
    display: flex;
    align-items: center;
}

aside .carts-secction .product .info-product .image-product {
    width: 76px;
    height: 76px;
    margin-right: 16px;
}

aside .carts-secction .product .info-product p {
    font-size: var(--sm);
    font-weight: 400;
    line-height: var(--lg);
    color: var(--text-input-field);
}

aside .carts-secction .product .product-price {
    display: flex;
    align-items: center;
}

aside .carts-secction .product .product-price p:nth-child(1) {
    font-size: var(--md);
    font-weight: bold;
    line-height: var(--lg);
    color: var(--black);
    padding-right: 16px;
}

aside .carts-secction .product .product-price p:nth-child(2){
    font-size: var(--sm);
    color: var(--very-light-pink);
}

aside .carts-secction .total {
    width: 90%;
    height: 76px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--background-input-field);
}

aside .carts-secction .total p {
    font-size: var(--md);
    font-weight: bold;
    line-height: var(--lg);
}

aside .carts-secction .container-btn {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
}

aside .carts-secction .container-btn button {
    width: 100%;
    height: 60px;
    border: none;
    border-radius: 8px;
    font-size: var(--lg);
    font-weight: bold;
    line-height: 2.2rem;
    color: var(--white);
    background-color: var(--hospital-green);
}

aside .carts-secction .title {
    display: none
}

@media (max-width: 360px) {
    aside .carts-secction .product {
        margin-bottom: 0;
    }
}

@media (min-width: 450px){
   aside .carts-secction .product {
       width: 380px;
   }

   aside .carts-secction .total {
    width: 380px;
    }

    aside .carts-secction .container-btn {
        width: 380px;
        }

}